In [14]:
# idea from this page https://stackoverflow.com/questions/76800932/load-a-csv-dataset-from-uci-ml-repo
# install.packages("archive")  # if there exist error when running "library(archive)", please uncomment this line and run it
library(tidyverse)
library(repr)
library(readxl)
library(rvest)
library(archive)
options(repr.matrix.max.rows = 6)

In [23]:
url = "https://archive.ics.uci.edu/static/public/45/heart+disease.zip"
index = read_csv(archive_read(url))
write_csv(test, "index.csv")

Rows: 17 Columns: 1
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Index of heart-disease

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [33]:
cleveland_data = read_csv(archive_read(url,"processed.cleveland.data"), col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
cleveland_data
switzerland_data = read_csv(archive_read(url, "processed.switzerland.data"), col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
switzerland_data

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): ca, thal
dbl (12): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0
2   67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0
3   67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
301 57  1   4  130      131  0   0       115     1     1.2     2     1.0 7.0
302 57  0   2  130      236  0   2       174     0     0.0     2     1.0 3.0
303 38  1   3  138      175  0   0       173     0     0.0     1     ?   3.0
    num
1   0
2   2
3   1
⋮   ⋮
301 3
302 1
303 0

Rows: 123 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): trestbps, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal
dbl (5): age, sex, cp, chol, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   32  1   1  95       0    ?   0       127     0     .7      1     ?  ?
2   34  1   4  115      0    ?   ?       154     0     .2      1     ?  ?
3   35  1   4  ?        0    ?   0       130     1     ?       ?     ?  7
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
121 72  1   3  160      0    ?   2       114     0     1.6     2     2  ?
122 73  0   3  160      0    0   1       121     0     0       1     ?  3
123 74  1   2  145      0    ?   1       123     0     1.3     1     ?  ?
    num
1   1
2   1
3   3
⋮   ⋮
121 0
122 1
123 1